@charset "utf-8";
/*    기본 설정    */
* { margin: 0; padding: 0; }
html,body { width: 100%; height: 100%; overflow-x: hidden; font-family: 'Nanum Gothic', sans-serif; }
::-webkit-scrollbar { display: none; }
ul, li { list-style: none; }
a { text-decoration: none; }
a, img, span, label { display: block; }

.pagewrap {
    width: 100%;
    height: 100%;
}

/* 탑버튼 */
        #toTop {
            display: block;
            position: fixed;
            width: 72px;
            height: 72px;
            background-image: url("./img/topbt.png");
            background-repeat: no-repeat;
            bottom: 40px;
            right: 30px;
            z-index: 999;
            cursor: pointer;
/*            display: none;*/
        }